{{- with .Cloud -}}
atlas {
  cloud {
    token = "{{ .Token }}"
{{- if .Project }}
    project = "{{ .Project }}"
{{- end }}
{{- if .URL }}
    url = "{{ .URL }}"
{{- end }}
  }
}
{{- end }}
env {
  name = atlas.env
  url  = "{{ .URL }}"
{{- if .DevURL }}
  dev  = "{{ .DevURL }}"
{{- end }}
{{- if .Schemas }}
  schemas = [
  {{- range .Schemas }}
    "{{ . }}",
  {{- end }}
  ]
{{- end }}
{{- if .Exclude }}
  exclude = [
  {{- range .Exclude }}
    "{{ . }}",
  {{- end }}
  ]
{{- end }}
  migration {
    dir = "{{ .DirURL }}"
{{- if .Baseline }}
    baseline = "{{ .Baseline }}"
{{- end }}
{{- if .ExecOrder }}
    exec_order = {{ hclValue .ExecOrder }}
{{- end }}
{{- if .RevisionsSchema }}
    revisions_schema = "{{ .RevisionsSchema }}" 
{{- end }}
  }
}
