page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---
<!-- source: https://github.dev/hashicorp/terraform-plugin-docs/blob/main/internal/provider/template.go -->
<!-- Bug: Type and Name are switched -->
# {{.Type}} ({{.Name}})

{{ .Description | trimspace }}

## Example Usage

### Basic

{{tffile "examples/resources/atlas_schema/main.tf"}}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

Import is supported using the following syntax:

{{ printf "{{codefile \"shell\" %q}}" .ImportFile }}
{{- end }}